body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



/* -------------------------------------------------- */
/*   VARIABLES                                        */  
/* -------------------------------------------------- */

/* Colours */

/* To use in other css files => var(--purple) */

:root {
  --purple: #693f4d;
  --cream:  #fff3e5;
  --green: #7bd3ac; 
  --black: #0f0f0f;
}



/* Fonts */

:root{
  --titleFont: 'Special Elite', cursive;
  --subTitleFont:  'Amiri', serif;
  --textFont:  'Raleway', sans-serif;
}



h1{
 font-family: var(--titleFont);
 font-size: 50px;
}


p{
  color: var(--black);
}



/* -------------------------------------------------- */
/*   GLOBAL CLASSES                                   */  
/* -------------------------------------------------- */



.center-flex{
  display:flex;
  justify-content: center;
}




